In [16]:
import os
import re
from tqdm import tqdm
from datetime import datetime

import pandas as pd
import numpy as np
import camelot
import tabula

In [115]:
def shift_row_to_top(df, index_to_shift):
    idx = df.index.tolist()
    idx.remove(index_to_shift)
    df = df.reindex([index_to_shift] + idx)
    return df

In [218]:
def check_cols(columns, pdf_type):
    if(pdf_type == 'chrom'):
        if('Name' in columns and 'Area' in columns):
            return True
        else:
            return False
    elif(pdf_type == 'area'):
        if('Tailing Factor' in columns and 'Area' in columns):
            return True
        else:
            return False

In [424]:
compound = 'ketorolacTromethamine'
# Bumetanide
# Acyclovir
# Famotidine
# ketorolacTromethamine
# KetorolacTromethamine
# LabetalolHCl
chrom_input = os.path.join(os.getcwd(), "data", "input", "{}-chromatogram.pdf".format(compound))
tables = camelot.read_pdf(chrom_input, pages= 'all',flavor='stream')

In [390]:
# df = tables[1].df
# a = df.where(df=='Peak#').dropna(how='all').dropna(axis=1)
# a = list(a.index)[0]
# new_header = df.iloc[inx]
# new_start_inx = inx+1
# df = df[new_start_inx:] 
# df.columns  = new_header
# inx = list(df_table[df_table[1] == 'Peak#'].index)
# inx

In [433]:
df_peak_table =''
peak_tables = []
for table in tables:
    df_table = table.df
    search = df_table.where(df_table=='Peak#').dropna(how='all').dropna(axis=1)
    inx = list(search.index)
    if(inx):
        inx= inx[0]
        new_header = df_table.iloc[inx]
        new_start_inx = inx+1
        df_table = df_table[new_start_inx:] 
        df_table.columns = new_header
        df_table = df_table[['Peak#','Name','Ret. Time','Area','Area%','RRT']]
        peak_tables.append(df_table)
    else:
        continue
df_peak_table = pd.concat(peak_tables, ignore_index=True)            
inx_to_shift = df_peak_table[df_peak_table["Name"].str.contains('ketorolacTromethamine', flags = re.IGNORECASE)].index[0]
df_peak_table = shift_row_to_top(df_peak_table, inx_to_shift)

In [434]:
df_peak_table

2  Peak#                   Name Ret. Time      Area   Area%   RRT
4      5  KetorolacTromethamine     21.29  17114209   99.75  1.00
0      1     Related Compound-A      7.57      2282    0.01  0.36
1      2                Unknown      8.65      1153    0.01  0.41
2      3                Unknown     10.67     14375    0.08  0.50
3      4     Related Compound-C     17.09     14299    0.08  0.80
5      6                Unknown     59.65     11423    0.07  2.80
6  Total                                   17157741  100.00

In [276]:
df_peak_table

0  Peak#        Name Ret. Time      Area  Area%   RRT
6      7   Acyclovir      9.74  39888557  97.89  1.00
0      1     Unknown      2.84     34475   0.08  0.29
1      2     Unknown      3.09    105349   0.26  0.32
2      3     Unknown      4.68      1323   0.00  0.48
3      4  Impurity-B      5.78    162326   0.40  0.59
4      5     Unknown      6.86     24811   0.06  0.70
5      6     Unknown      8.37      8612   0.02  0.86
7      8     Unknown     15.61     80641   0.20  1.60
8      9     Unknown     20.91     13008   0.03  2.15
9     10     Unknown     24.40     10256   0.03  2.51
10    11     Unknown     26.69     22326   0.05  2.74
11    12     Unknown     28.33      2322   0.01  2.91
12    13     Unknown     29.78      4838   0.01  3.06
13    14     Unknown     30.11      4552   0.01  3.09
14    15  Impurity-K     32.45    384392   0.94  3.33

In [277]:
with pdfplumber.open(chrom_input) as pdf:
    first_page = pdf.pages[0]
    text = first_page.extract_text()
times = re.findall('[0-9][0-9]*[:]\d{2}[:]\d{2}\s*[AM]*[PM]*', text)
for time in times:
    text = text.replace(time, "")
for line in text.split("\n"):
    if(":" in line):
        key_value = line.split(":")
        key_value = [kv.strip(" ").strip("\t") for kv in key_value]
        print(key_value)

['Instrument Name', 'ARD-LC-008']
['Sample Information', '1002-005A 40°C 75% RH 6M(I).lcd']
['Sample Name', '1002-005A 40°C 75% RH 6M(I)']
['Acquired by', 'N Ramu']
['Injection Volume', '10']
['Tray#', '1']
['Vial#', '10']
['Method File', 'ACYC_ INJ_RS_MDR SPL Process.lcm']
['Batch File', 'ACYC_INJ_RS 190421.lcb']
['Data File', '1002-005A 40°C 75% RH 6M(I).lcd']
['Date Acquired', '4/20/2021']
['Date Processed', '4/21/2021']
['Original Method File', 'ACYC_ INJ_RS_MDR.lcm']

In [439]:
compound = 'Acyclovir'
# Bumetanide
# Acyclovir
# Famotidine
# ketorolacTromethamine
# KetorolacTromethamine
# LabetalolHCl
area_input = os.path.join(os.getcwd(), "data", "input", "{}-areas.pdf".format(compound))
tables = camelot.read_pdf(area_input, pages= 'all')

In [440]:
df_area_table =''
area_tables = []
for table in tables:
        df_table = table.df
        new_header = df_table.iloc[0]
        df_table = df_table[1:] 
        df_table.columns = new_header
        cols = list(df_table.columns)
        if(check_cols(cols, "area")):
            area_tables.append(df_table)
        else:
            continue
df_area_table = pd.concat(area_tables, ignore_index=True)
average_area = int(df_area_table["Area"][df_area_table["Title"] == "Average"].values.tolist()[0])

In [441]:
average_area

178567

In [442]:
df_area_table

0                     Title Ret. Time    Area    Area%    NTP Tailing Factor
0  Standard Solution_01.lcd      9.81  178467  100.000  30735           0.99
1  Standard Solution_02.lcd      9.81  178841  100.000  30752           0.99
2  Standard Solution_03.lcd      9.82  178579  100.000  30564           0.99
3  Standard Solution_04.lcd      9.83  178420  100.000  30734           0.99
4  Standard Solution_05.lcd      9.82  178657  100.000  30764           0.99
5  Standard Solution_06.lcd      9.83  178436  100.000  30652           0.99
6                   Average      9.82  178567  100.000  30700           0.99
7                      %RSD      0.09    0.09     0.00   0.25           0.09
8        Standard Deviation      0.01     163    0.000     77             --

In [275]:
df_peak_table =''
peak_tables = []
for table in tables:
        df_table = table.df
        new_header = df_table.iloc[0]
        df_table = df_table[1:] 
        df_table.columns = new_header
        cols = list(df_table.columns)
        if(check_cols(cols, "chrom")):
            peak_tables.append(df_table)
        else:
            continue
df_peak_table = pd.concat(peak_tables, ignore_index=True)            
inx_to_shift = df_peak_table[df_peak_table["Name"] == compound].index[0]
df_peak_table = shift_row_to_top(df_peak_table, inx_to_shift)